pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.cpcache/
/public/
.lsp/
.clj-kondo
node_modules
posts/.markdown-preview.html
.projectile
.nrepl-port