@import url(https://cdn.jsdelivr.net/npm/firacode@6.0.0/distr/fira_code.css);

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

a {
  color: #333;
  text-decoration: underline;
}

body {
    color: #333;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

.container {
    max-width: 1000px;
}

.right {
    float: right;
    text-align: right;
}

#content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

.navbar-header {
  display: flex;
  align-items: center;
  padding: 2%
}

.navbar-header a {
  color: #333;
  margin-right: 12px;
  text-decoration: none;
}

.navbar-header .navbar-title {
  font-size: 38px;
  font-weight: 900;
}

.navbar-header .navbar-title:hover {
  color: #5e5e5e;
}

.navbar-header .navbar-list {
  list-style: none;
  display: flex;
  text-transform: lowercase;
}

.continue-reading {
  text-decoration: none;
  font-weight: 500;
}

#content img {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

blockquote footer {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 0;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

.post-header-link {
  font-size: 32px;
  text-decoration: none;
  font-weight: 900;
}

#post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

pre {
    overflow-x: auto;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .navbar-nav>li>a {
        padding: 30px 20px;
    }
    #content{
        margin-top: 30px;
        padding: 30px 40px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }

    .navbar-header {
      flex-direction: column;
    }

    .navbar-list {
        margin-top: 8%;
    }

    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
